body {
    margin: 0;
}

html{
    background-color: #023954;
    color: #ffffff;
    font-family: Helvetica;
}

.title-1{
    font-family: Arial;
    font-size: 40px;
    padding: 5px;
    text-align: center;
}

.standardheader{
    font-family: Arial;
    font-size: 30px;
    text-align: center;
}

.standard-paragraph p{
    background: #1d1d1d;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    justify-content: center;
    padding: 1em;
}


.box-1 img{
    display: block;
    border-radius:50%;
    padding: 10px, 10px;
    height: 80%;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}

navigate {
    width: 100%;
    /* border: 2px yellow solid; */
}

#navbar{
    width: 100%;
    background-color: #1d1d1d;
    color: #fff;
    border-radius: 10px;
}

#navbar ul{
   list-style: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #1d1d1d;
}

#navbar li{
    float: left;
    border-right:1px #bbbbbb;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

/* Change the link color #111 (black) on hover */
#navbar li:hover a:hover{
    background-color: #111;
    color: #1E7D13;
    transform: scale(1.1);
}

.basics ul {
    list-style: none;
}

.basics li {
    display: inline-block;
    justify-content: center;
}

.basics li a {
    display: block;
    width: 60px;
    padding: 14px 16px;
    text-align: center;
    color: #fff;
    background-color: #1d1d1d;
    text-decoration: none;
    border-radius: 10px;
}

.basics div {
    width: 52%;
    position: relative;
    margin: auto;
}

.basics p {
    display: inline-block;
    padding-left: 2px;
}

.basics li a:hover {
    border-radius: 10px;
    color: #1E7D13;
    transform: scale(1.1);
}

.tutorial {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

.tutorial div {
    padding: 35px;
    background-color:#1d1d1d;
    border-radius: 10%;
}

.tutorial div:hover {
    color: #1E7D13;
    transform: scale(1.1);
}